.projs {
    background-color: white;
    margin-top: -20px;
}

.entire-form {
    background-color: white;
}

.cat-rec-proj {
    font-size: 20px;
    color: grey;
    margin-top: 20px;
    margin-left: 43%;
}

.cat-photo {
    height: 450px;
    width: 60%;
    margin-left: 20%;
    padding-right: 65px;
    padding-top: 20px;
}

.cat-title {
    width: 40%;
    font-size: 30px;
    margin-left: 20%;
}

.cat-description {
    width: 40%;
    font-size: 20px;
    margin-left: 20%;
}

.cat-location {
    margin-left: 20%;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.cat-funding {
    margin-left: 20%;
    font-size: 14px;
}

.project-title-cat {
    margin-left: 25%;
    font-size: 20px;
    font-style: bold;
}

.project-description-cat {
    margin-left: 35%;
    font-size: 20px;
    font-style: normal;
    margin-top: -3%;
}


.project-location-cat {
    margin-left: 55%;
    font-size: 14px;
    margin-top: -6%;
}