.cat-dropdown {
    width: 100px;
    height: 100px;
    background-color: red;
}

.cat-button-unclicked {
    width: 100px;
    height: 100px;
    background-color: green;
}

// .cat-dropdown {
//     display: none;
// }

.select-category-hidden {
    display: none;
}

.description-page-hide {
    display: none;
}

// .select-category {
//     display: none;
// }