body {
    background-color:#f0f0f5;
    min-width: 500px;
}

// div {
//     background-color:#f0f0f5;
// }
.login-form {
    width: 400px;
    // width: 30%;
    align-content: center;
    // display: flex;
    // border: 5px solid black;
    position: relative;
    left: 36%;
    height: 600px;
    top: 10px;
    background-color: white;
    padding-bottom: 10px;
    border: 0.2px solid lightgray;
    margin-bottom: 20px;

}

.log-title {
    text-align: left;
    margin-left: 6.25%;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: thin;
    padding-top: 10px;
    margin-top: 10px;
}

.redirect-to-signup {
    position: relative;
    width: 100%;
    height: 70px;
    top: 70px;
    // top: -80px;
    // left: 27%;
    padding-top: 10px;
    text-align: center;
    // text-align
    border-top: 0.2px solid lightgray;
    border-bottom: 0.2px solid lightgray;
}

.enter-email {
    left: 5%;
    display: flex;
    margin-left: 6.25%;
    margin-right: 6.25%;
    width: 350px;
    height: 35px;
    border: 1px solid grey;
    // border-radius: 5px;
}

.enter-email:focus {
    // background-color: red;
    border-color: green;
    outline: none !important;
}

.enter-password {
    left: 5%;
    margin-top: 15px;
    display: flex;
    margin-left: 6.25%;
    margin-right: 6.25%;
    width: 350px;
    height: 35px;
    border: 1px solid grey;
    // border-radius: 5px;
}

.enter-password:focus {
    border-color: green;
    outline: 0;
}

.login-button {
    left: 5%;
    margin-top: 30px;
    margin-left: 6.25%;
    // margin-right: 6.25%;
    width: 359px;
    height: 40px;
    text-align: center;
    background-color: #009E74;
    color: white;
    // font-size: 15px;
}

.demo-login {
    // // left: 30.5%;
    // bottom: 80px;
    // // margin-top: -1000px;
    // // bottom: 5000px;
    // margin-left: 6.25%;
    // // margin-right: 6.25%;
    // width: 359px;
    // height: 40px;
    // text-align: center;
    // background-color: grey;
    // color: white;
    // position: relative;
    // // padding-top: -50px;
    left: 5%;
    margin-top: 60px;
    // padding-top: -30%;
    margin-left: 6.25%;
    width: 359px;
    height: 40px;
    text-align: center;
    background-color: #39579A;
    color: white;
}



// .remember-me {
//     left: 5%;
//     margin-left: 6.25%;
//     margin-top: 15px;
//     margin-bottom: -10px;
// }

.sign-up-text-color {
    color: blue;
}

.login-footer {
    position: relative;
    width: 93.5%;
    // bottom: 1%;
    font-size: 14px;
    left: 6.25%;
    // margin-top: 190px;
    color: grey;
    top: 90px;
}

// .demo-des {
//     position: relative;
//     width: 90%;
//     bottom: 15%;
//     font-size: 14px;
//     left: 6.25%;
//     // margin-top: 190px;
//     color: grey;
//     // margin-top: 200px;
//     // padding-top: 110px;
// }
