   

.signup-form {
    width: 400px;
    align-content: center;
    border: 1px solid white;
    position: relative;
    left: 35%;
    height: 90%;
    top: 10px;
    background-color: white;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.redirect-to-login {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 0.01px solid lightgray;
}

.signup {
    text-align: left;
    margin-left: 6.25%;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.signup-name {
    left: 5%;
    display: flex;
    margin-left: 6.25%;
    margin-right: 6.25%;
    width: 350px;
    height: 35px;
    border: 0.5px solid lightgray;
}

.signup-name:focus {
    outline: none !important;
    border-color: green;
}

.signup-email {
    left: 5%;
    display: flex;
    margin-left: 6.25%;
    margin-right: 6.25%;
    width: 350px;
    height: 35px;
    margin-top: 15px;
    border: 0.5px solid lightgray;
}

.signup-email:focus {
    outline: none !important;
    border-color: green;
}

.hide {
    display: none;
}

.reveal {
    left: 5%;
    display: flex;
    margin-left: 6.25%;
    margin-right: 6.25%;
    width: 350px;
    height: 35px;
    margin-top: 15px;
    border: 0.5px solid lightgray;
}

.reveal:focus {
    outline: none !important;
    border-color: green;
}

.signup-password {
    left: 5%;
    display: flex;
    margin-left: 6.25%;
    margin-right: 6.25%;
    width: 350px;
    height: 35px;
    margin-top: 15px;
    border: 0.5px solid lightgray;
    margin-bottom: 15px;
}
.signup-password:focus {
    outline: none !important;
    border-color: green;
}

.hidden {
    display: none;
}

.shown {
    left: 5%;
    display: flex;
    margin-left: 6.25%;
    margin-right: 6.25%;
    width: 350px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 0.5px solid lightgray;
}

.shown:focus {
    outline: none !important;
    border-color: green;
}

.weekly-email {
    left: 5%;
    margin-left: 6.25%;
    margin-top: 15px;
    float: left;
}

.contact {
    left: 5%;
    margin-left: 6.25%;
    margin-top: 5px;
}

.create-account {
     left: 5%;
    margin-top: 30px;
    margin-left: 6.25%;
    width: 359px;
    height: 40px;
    text-align: center;
    background-color: #009E74;
    color: white;
    border: none;
}

.signup-footer {
    position: relative;
    width: 90%;
    font-size: 14px;
    left: 6.25%;
    color: grey;
}
.signup-facebook {
    left: 5%;
    margin-top: 50px;
    margin-left: 6.25%;
    width: 359px;
    height: 40px;
    text-align: center;
    background-color: #39579A;
    color: white;
    border: none;
}

.facebook-footer {
    position: relative;
    width: 93.5%;
    bottom: 15%;
    font-size: 14px;
    left: 6.25%;
    color: grey;
}

.read-more {
    color: blue;
    margin-top: -10px;
}

.login-redirect-button {
    color: blue;
    text-decoration: none;
}

.left-line {
    border-bottom: 1px solid black;
}