.navbar {
    background-color: white;
    width: 100%;
    min-width: 700px;
    height: 60px;
    padding-top: -110px;
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: -15px;
}

.nav-items {
    align-content: center;
    padding-top: 1%;
    position: relative;
}

.nav-explore {
    text-decoration: none;
    color: black;
    position: relative;
    padding-left: 1.4%;
    padding-bottom: 15px;
    width: 100px;
    border: none;
    content: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.nav-explore:hover {
    color: blue;
}

.nav-projects {
    position: relative;
    padding-left: 2%;
    text-decoration: none;
    color: black;
}

.nav-projects:hover {
    color: blue;
}

.nav-home {
    text-decoration: none;
    color: #32CD32;
    padding-left: 31%;
    position: relative;
    font-family: "Comic Sans MS", fantasy;
    font-weight: bold;
    margin: 0 auto;
    font-size: 25px;
}


.nav-login {
    text-decoration: none;
    padding-left: 40%;
    color: black;
    position: relative;
    margin: 0 auto;
}

.nav-login:hover {
    color: blue;
}

.nav-logout {
    text-decoration: none;
    padding-left: 40%;
    color: black;
    position: relative;
    margin: 0 auto;
}