.navbar {
    background-color: white;
    width: 100%;
    min-width: 700px;
    // left: 100px;
    height: 50px;
    padding-top: -110px;
    position: relative;
    display: block;
    overflow: hidden;
    // margin: 0 auto;
}

.nav-items {
    align-content: center;
    padding-top: 1%;
    position: relative;
    // margin: 0 auto;
    // margin-bottom: 20px;
    // bottom: 10px;
}

// .left-nav {
//     // padding-top: 10px;
//     // top: 10px;
// }
.nav-explore {
    text-decoration: none;
    color: black;
    position: relative;
    padding-left: 2%;
    // margin-top: 100px;
    padding-bottom: 15px;
}
.nav-projects {
    position: relative;
    padding-left: 2%;
    // padding-bottom: 15px;
    text-decoration: none;
    color: black;
}

.nav-home {
    text-decoration: none;
    color: #32CD32;
    padding-left: 33%;
    position: relative;
    font-family: "Comic Sans MS", fantasy;
    font-weight: bold;
    margin: 0 auto;
    // top: 12px;
}

// .right-nav {
//     padding-top: -12px;
//     margin-top: -18px;
//     padding-left: 90%;
//     position: relative;
//     // display: flex;
// }

.search {
    text-decoration: none;
    // margin-top: -10px;
    padding-left: 38%;
    padding-bottom: 15px;
    color: black;
    position: relative;
}

.nav-login {
    text-decoration: none;
    // top: -120px;
    padding-left: 1%;
    color: black;
    position: relative;
    margin: 0 auto;
}